<div class="container-login">
    <div class="Contenedor">
        <form>
            <div class="contenido">
                <h2 class="name-login">Login</h2>
                
                    <label class="elementos" for="name">Username:</label>
                    <input class="elementos1" type="name">
                    
                    <label class="elementos" for="username">Password:</label>
                    
                    <input class="elementos1" type="password">
                    <div class="botones">

                        <button type="submit">Login</button>
                        <button routerLink="/login/sing-up">Sing up</button>
                    </div>
            </div>
        </form> 
    </div>
</div>