<div class="container-companies">
    <div class="content">
        
        <button mat-raised-button color="primary">
            Crear Empresa
        </button>

        <div class="row">
            <div class="col-md-12">
                <table mat-table>

                    <thead>
                        <tr>
                            <th>Factura</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>Factura</th>
                            <th>Fecha</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>
