<div class="container-organizations">
    <div class="content">
        
        
        <div class="container">

            <h1 class="Titulo">Crear organizacion</h1>
            <form class= formu_orga>

                <mat-form-field class="con" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="con" appearance="fill">
                    <mat-label>Movil</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="con" appearance="fill">
                    <mat-label>E-Mail</mat-label>
                    <input matInput>
                </mat-form-field>

                 <mat-form-field class="con" appearance="fill">
                    <mat-label>Organizacion</mat-label>
                    <mat-select>
                      <mat-option value="one">First option</mat-option>
                      <mat-option value="two">Second option</mat-option>
                    </mat-select>
                  </mat-form-field>
                
                
                <div class="botones">
                    <button >Crear</button>
                </div>
            </form>
        </div>    

    </div>

</div>

