<div class="container-companies">
    <div class="Contenedor">
        
        <h1>wa mo a morir</h1>
        
        <!-- <form>
            <div class="contenido">
                <h2 class="name-login">Login</h2>
                
                    <label class="elementos" for="name">Email:</label>
                    <input class="elementos1" formControlName="Tx_Email" type="email">
                    
                    <label class="elementos" for="username">Password:</label>
                    <input class="elementos1" formControlName="Tx_Clave" type="password">
                    
                    <div class="botones">
                        <button routerLink="/login/sing-up">Sing up</button>
                    </div>
            </div>
        </form>  -->
          


    </div>
</div>